header {
    background: -webkit-linear-gradient(#b69292, #7ae2b7, #7cc8d2);
    /*background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');*/
    padding: 5px 5px 5px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /*border: 1px solid #666;*/
}

footer {
    position: fixed;
    scroll-behavior: smooth; /* Фиксированное положение */
    left: 0;
    bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: -webkit-linear-gradient(#dbc8c8, #d7c2c2);
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');*/
    /*background: #39b54a; !* Цвет фона *!*/
    /*color: #fff; !* Цвет текста *!*/
    width: 100%; /* Ширина слоя */
}

table.table {
    background: linear-gradient(#c8d7ca, #7f8989,mistyrose);
}

.rightPic {
    float: right;
    margin: 0 14px 0px 5px;
}

.button_example {
    float: right;
}

h3 {
    margin: 20px 0 5px;
}

ul, li {
    margin: 10px 0 5px;
}

button.new {
    background: linear-gradient(to bottom, #5ca1e5 0%, azure 100%);
    padding: 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div {
    scroll-behavior: smooth;
    white-space: nowrap;
    display: inline-block;
}