header {
  background no-repeat scroll 0 0 beige;
  color bisque
  font-size: 20px;
  padding: 5px 20px;
}
  footer{
    p { text-indent: 30px; }
    background no-repeat scroll 0 0 darkgrey;
    color #2aa545;
    font-size: 20px;
    padding 5px 20px;
  }